:root > * {
    --md-primary-fg-color:        #000;
    --md-primary-fg-color--light: #000;
    --md-primary-fg-color--dark:  #000;
}

:root > * {
    --md-accent-fg-color:        #0f88cd;
    --md-accent-fg-color--light: #0f88cd;
    --md-accent-fg-color--dark:  #0f88cd;
}

:root > * {
    --md-header-bg-color:       #000;
    --md-header-bg-color--dark: #000;
}

:root > * {
  --md-footer-bg-color:       #000;
  --md-footer-bg-color--dark: #000;
}

.md-content a {
    text-decoration: underline #0f88cd;
    text-underline-offset: 0.3em;
}
