:root  > * {
    /* Defaults */
    --md-primary-fg-color:        #000;
    --md-primary-fg-color--light: #000;
    --md-primary-fg-color--dark:  #000;

    --md-accent-fg-color:        #0f88cd;
    --md-accent-fg-color--light: #0f88cd;
    --md-accent-fg-color--dark:  #0f88cd;

    --md-footer-fg-color:        #000;
    --md-footer-fg-color--light: #000;
    --md-footer-fg-color--dark:  #000;

    --md-footer-bg-color:       #fff;
    --md-footer-bg-color--dark: #fff;

    --md-typeset-a-color: #0f88cd;

    /* Link */
    .md-content a {
        color: #000;
    }

    .md-content a {
        text-decoration: underline #0f88cd !important;
        text-underline-offset: 0.25em !important;
    }

    /* Quote */
    .md-content blockquote {
        border-color: #0f88cd !important;
    }

    /* Button */
    .md-button {
        color: #fff !important;
        display: block !important;
        margin: 0 auto !important;
        max-width: 10rem !important;
        text-align: center !important;
        text-decoration: none !important;
    }

    .md-typeset .md-button--primary {
        color: #fff !important;
        background: #0f88cd !important;
        border-color: #0f88cd !important;
    }

    /* Tip */
    .md-typeset .tip {
        border-color: #0f88cd !important;
    }

    .md-typeset .tip > .admonition-title,
    .md-typeset .tip > summary {
        background: #0f88cd1a !important;
    }

    .md-typeset .tip > .admonition-title::before,
    .md-typeset .tip > summary::before {
        background: #0f88cd !important;
    }

    /* Search */
    .md-search__form {
        background: #333;
    }
}
